{% extends 'base.html' %}

{% load static %}

{% block content %}

<main role="main">

  <section class="jumbotron text-center">
	<div class="container">
      <h1>Help</h1>
      <p class="lead text-muted">&nbsp;</p>
	</div>
  </section>

  <div class="container-sm">
  	<div class="row mb-3">
  		<div class="col-2">&nbsp;</div>
  		<div class="col-8">
  			<h2>Need some help?</h2>
  			<p>The site may be under maintenance or upgrades at any time. If you cannot access the site, please wait a few moments and it will return shortly.</p>
  		</div>
  		<div class="col-2">&nbsp;</div>
  	</div>
  </div>

</main>

{% endblock %}