{% extends 'base.html' %}

{% load static %}

{% block content %}

<main role="main">

  <section class="jumbotron text-center">
	<div class="container">
      <h1>Learn Japanese Katakana</h1>
      <p class="lead text-muted">Learn all syllables in the Katakana character set.</p>
	</div>
  </section>

<div class="container-sm">
	<div class="row mb-12 text-center">
		
		<div class="col-12">

			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item" role="presentation">
					<a class="nav-link active" id="vertical-tab" data-toggle="tab" href="#vertical" role="tab" aria-controls="home" aria-selected="true">Vertical</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="horizontal-tab" data-toggle="tab" href="#horizontal" role="tab" aria-controls="profile" aria-selected="false">Horizontal</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" id="horizontal_r-tab" data-toggle="tab" href="#horizontal_r" role="tab" aria-controls="contact" aria-selected="false">Horizontal Reversed</a>
				</li>
			</ul>
			
			<div class="tab-content" id="myTabContent">
				<!-- Vertical -->
				<div class="tab-pane fade show active" id="vertical" role="tabpanel" aria-labelledby="vertical-tab">
					<p>&nbsp;</p>
					<h2>Basic Katakana: 46 Characters</h2>
					<h4>Kihon no Katakana</h4>
					<h5>きほんのカタカナ</h5>
					<p>&nbsp;</p>
					<h5>Basic Monographs</h5>
					<table class="table table-hover text-center">
						<thead>
							<tr class="table-info">
								<th scope="col">&nbsp;</th>
								<th scope="col">a&nbsp;&nbsp;ア</th>
								<th scope="col">i&nbsp;&nbsp;イ</th>
								<th scope="col">u&nbsp;&nbsp;ウ</th>
								<th scope="col">e&nbsp;&nbsp;エ</th>
								<th scope="col">o&nbsp;&nbsp;オ</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row" class="bg-light">k</th>
								<td>ka&nbsp;&nbsp;カ</td>
								<td>ki&nbsp;&nbsp;キ</td>
								<td>ku&nbsp;&nbsp;ク</td>
								<td>ke&nbsp;&nbsp;ケ</td>
								<td>ko&nbsp;&nbsp;コ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">s</th>
								<td>sa&nbsp;&nbsp;サ</td>
								<td>shi&nbsp;&nbsp;シ</td>
								<td>su&nbsp;&nbsp;ス</td>
								<td>se&nbsp;&nbsp;セ</td>
								<td>so&nbsp;&nbsp;ソ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">t</th>
								<td>ta&nbsp;&nbsp;タ</td>
								<td>chi&nbsp;&nbsp;チ</td>
								<td>tsu&nbsp;&nbsp;ツ</td>
								<td>te&nbsp;&nbsp;テ</td>
								<td>to&nbsp;&nbsp;ト</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">h</th>
								<td>ha&nbsp;&nbsp;ハ</td>
								<td>hi&nbsp;&nbsp;ヒ</td>
								<td>fu&nbsp;&nbsp;フ</td>
								<td>he&nbsp;&nbsp;ヘ</td>
								<td>ho&nbsp;&nbsp;ホ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">m</th>
								<td>ma&nbsp;&nbsp;マ</td>
								<td>mi&nbsp;&nbsp;ミ</td>
								<td>mu&nbsp;&nbsp;ム</td>
								<td>me&nbsp;&nbsp;メ</td>
								<td>mo&nbsp;&nbsp;モ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">n</th>
								<td>na&nbsp;&nbsp;ナ</td>
								<td>ni&nbsp;&nbsp;ニ</td>
								<td>nu&nbsp;&nbsp;ヌ</td>
								<td>ne&nbsp;&nbsp;ネ</td>
								<td>no&nbsp;&nbsp;ノ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">y</th>
								<td>ya&nbsp;&nbsp;ヤ</td>
								<td>&nbsp;</td>
								<td>yu&nbsp;&nbsp;ユ</td>
								<td>&nbsp;</td>
								<td>yo&nbsp;&nbsp;ヨ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">r</th>
								<td>ra&nbsp;&nbsp;ラ</td>
								<td>ri&nbsp;&nbsp;リ</td>
								<td>ru&nbsp;&nbsp;ル</td>
								<td>re&nbsp;&nbsp;レ</td>
								<td>ro&nbsp;&nbsp;ロ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">w</th>
								<td>wa&nbsp;&nbsp;ワ</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>wo(o)&nbsp;&nbsp;ヲ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">n</th>
								<td>n&nbsp;&nbsp;ン</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
						</tbody>
					</table>
					<h5>Voiced Diacritics</h5>
					<table class="table table-hover text-center">
						<tbody>
							<tr>
								<th scope="row" class="bg-light">g</th>
								<td>ga&nbsp;&nbsp;ガ</td>
								<td>gi&nbsp;&nbsp;ギ</td>
								<td>gu&nbsp;&nbsp;グ</td>
								<td>ge&nbsp;&nbsp;ゲ</td>
								<td>go&nbsp;&nbsp;ゴ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">z</th>
								<td>za&nbsp;&nbsp;ザ</td>
								<td>ji&nbsp;&nbsp;ジ</td>
								<td>zu&nbsp;&nbsp;ズ</td>
								<td>ze&nbsp;&nbsp;ゼ</td>
								<td>zo&nbsp;&nbsp;ゾ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">d</th>
								<td>da&nbsp;&nbsp;ダ</td>
								<td>ji&nbsp;&nbsp;ヂ</td>
								<td>dzu&nbsp;&nbsp;ヅ</td>
								<td>de&nbsp;&nbsp;デ</td>
								<td>do&nbsp;&nbsp;ド</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">b</th>
								<td>ba&nbsp;&nbsp;バ</td>
								<td>bi&nbsp;&nbsp;ビ</td>
								<td>bu&nbsp;&nbsp;ブ</td>
								<td>be&nbsp;&nbsp;ベ</td>
								<td>bo&nbsp;&nbsp;ボ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">p</th>
								<td>pa&nbsp;&nbsp;パ</td>
								<td>pi&nbsp;&nbsp;ピ</td>
								<td>pu&nbsp;&nbsp;プ</td>
								<td>pe&nbsp;&nbsp;ペ</td>
								<td>po&nbsp;&nbsp;ポ</td>
							</tr>
						</tbody>
					</table>
					<p>&nbsp;</p>
					<h5>Basic and Voiced syllables grouped by similar character.</h5>
					<table class="table table-hover text-center">
						<thead>
							<tr class="table-info">
								<th scope="col">&nbsp;</th>
								<th scope="col">a&nbsp;&nbsp;ア</th>
								<th scope="col">i&nbsp;&nbsp;イ</th>
								<th scope="col">u&nbsp;&nbsp;ウ</th>
								<th scope="col">e&nbsp;&nbsp;エ</th>
								<th scope="col">o&nbsp;&nbsp;オ</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row" class="bg-light">k</th>
								<td>ka&nbsp;&nbsp;カ</td>
								<td>ki&nbsp;&nbsp;キ</td>
								<td>ku&nbsp;&nbsp;ク</td>
								<td>ke&nbsp;&nbsp;ケ</td>
								<td>ko&nbsp;&nbsp;コ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">g</th>
								<td>ga&nbsp;&nbsp;ガ</td>
								<td>gi&nbsp;&nbsp;ギ</td>
								<td>gu&nbsp;&nbsp;グ</td>
								<td>ge&nbsp;&nbsp;ゲ</td>
								<td>go&nbsp;&nbsp;ゴ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">s</th>
								<td>sa&nbsp;&nbsp;サ</td>
								<td>shi&nbsp;&nbsp;シ</td>
								<td>su&nbsp;&nbsp;ス</td>
								<td>se&nbsp;&nbsp;セ</td>
								<td>so&nbsp;&nbsp;ソ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">z</th>
								<td>za&nbsp;&nbsp;ザ</td>
								<td>ji&nbsp;&nbsp;ジ</td>
								<td>zu&nbsp;&nbsp;ズ</td>
								<td>ze&nbsp;&nbsp;ゼ</td>
								<td>zo&nbsp;&nbsp;ゾ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">t</th>
								<td>ta&nbsp;&nbsp;タ</td>
								<td>chi&nbsp;&nbsp;チ</td>
								<td>tsu&nbsp;&nbsp;ツ</td>
								<td>te&nbsp;&nbsp;テ</td>
								<td>to&nbsp;&nbsp;ト</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">d</th>
								<td>da&nbsp;&nbsp;ダ</td>
								<td>ji&nbsp;&nbsp;ヂ</td>
								<td>dzu&nbsp;&nbsp;ヅ</td>
								<td>de&nbsp;&nbsp;デ</td>
								<td>do&nbsp;&nbsp;ド</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">h</th>
								<td>ha&nbsp;&nbsp;ハ</td>
								<td>hi&nbsp;&nbsp;ヒ</td>
								<td>fu&nbsp;&nbsp;フ</td>
								<td>he&nbsp;&nbsp;ヘ</td>
								<td>ho&nbsp;&nbsp;ホ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">b</th>
								<td>ba&nbsp;&nbsp;バ</td>
								<td>bi&nbsp;&nbsp;ビ</td>
								<td>bu&nbsp;&nbsp;ブ</td>
								<td>be&nbsp;&nbsp;ベ</td>
								<td>bo&nbsp;&nbsp;ボ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">p</th>
								<td>pa&nbsp;&nbsp;パ</td>
								<td>pi&nbsp;&nbsp;ピ</td>
								<td>pu&nbsp;&nbsp;プ</td>
								<td>pe&nbsp;&nbsp;ペ</td>
								<td>po&nbsp;&nbsp;ポ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">m</th>
								<td>ma&nbsp;&nbsp;マ</td>
								<td>mi&nbsp;&nbsp;ミ</td>
								<td>mu&nbsp;&nbsp;ム</td>
								<td>me&nbsp;&nbsp;メ</td>
								<td>mo&nbsp;&nbsp;モ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">n</th>
								<td>na&nbsp;&nbsp;ナ</td>
								<td>ni&nbsp;&nbsp;ニ</td>
								<td>nu&nbsp;&nbsp;ヌ</td>
								<td>ne&nbsp;&nbsp;ネ</td>
								<td>no&nbsp;&nbsp;ノ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">y</th>
								<td>ya&nbsp;&nbsp;ヤ</td>
								<td>&nbsp;</td>
								<td>yu&nbsp;&nbsp;ユ</td>
								<td>&nbsp;</td>
								<td>yo&nbsp;&nbsp;ヨ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">r</th>
								<td>ra&nbsp;&nbsp;ラ</td>
								<td>ri&nbsp;&nbsp;リ</td>
								<td>ru&nbsp;&nbsp;ル</td>
								<td>re&nbsp;&nbsp;レ</td>
								<td>ro&nbsp;&nbsp;ロ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">w</th>
								<td>wa&nbsp;&nbsp;ワ</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>wo(o)&nbsp;&nbsp;ヲ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">n</th>
								<td>n&nbsp;&nbsp;ン</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
						</tbody>
					</table>
					<p>&nbsp;</p>
					<h2>Katakana Digraphs: 36 Combinations</h2>
					<p>&nbsp;</p>
					<h5>Contracted sounds grouped by similar character.</h5>
					<table class="table table-hover text-center">
						<thead>
							<tr class="table-info">
								<th scope="col">&nbsp;</th>
								<th scope="col">ya&nbsp;&nbsp;ヤ</th>
								<th scope="col">yu&nbsp;&nbsp;ユ</th>
								<th scope="col">yo&nbsp;&nbsp;ヨ</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row" class="bg-light">k</th>
								<td>kya&nbsp;&nbsp;キャ</td>
								<td>kyu&nbsp;&nbsp;キュ</td>
								<td>kyo&nbsp;&nbsp;キョ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">g</th>
								<td>gya&nbsp;&nbsp;ギャ</td>
								<td>gyu&nbsp;&nbsp;ギュ</td>
								<td>gyo&nbsp;&nbsp;ギョ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">s</th>
								<td>sha&nbsp;&nbsp;シャ</td>
								<td>shu&nbsp;&nbsp;シュ</td>
								<td>sho&nbsp;&nbsp;ショ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">j</th>
								<td>ja&nbsp;&nbsp;ジャ</td>
								<td>ju&nbsp;&nbsp;ジュ</td>
								<td>jo&nbsp;&nbsp;ジョ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">c</th>
								<td>cha&nbsp;&nbsp;チャ</td>
								<td>chu&nbsp;&nbsp;チュ</td>
								<td>cho&nbsp;&nbsp;チョ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">j</th>
								<td>ja&nbsp;&nbsp;ヂャ</td>
								<td>ju&nbsp;&nbsp;ヂョ</td>
								<td>jo&nbsp;&nbsp;ヂョ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">h</th>
								<td>hya&nbsp;&nbsp;ヒャ</td>
								<td>hyu&nbsp;&nbsp;ヒュ</td>
								<td>hyo&nbsp;&nbsp;ヒョ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">b</th>
								<td>bya&nbsp;&nbsp;ビャ</td>
								<td>byu&nbsp;&nbsp;ビュ</td>
								<td>byo&nbsp;&nbsp;ビョ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">p</th>
								<td>pya&nbsp;&nbsp;ピャ</td>
								<td>pyu&nbsp;&nbsp;ピュ</td>
								<td>pyo&nbsp;&nbsp;ピョ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">m</th>
								<td>mya&nbsp;&nbsp;ミャ</td>
								<td>myu&nbsp;&nbsp;ミュ</td>
								<td>myo&nbsp;&nbsp;ミョ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">n</th>
								<td>nya&nbsp;&nbsp;ニャ</td>
								<td>nyu&nbsp;&nbsp;ニュ</td>
								<td>nyo&nbsp;&nbsp;ニョ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">r</th>
								<td>rya&nbsp;&nbsp;リャ</td>
								<td>ryu&nbsp;&nbsp;リュ</td>
								<td>ryo&nbsp;&nbsp;リョ</td>
							</tr>
						</tbody>
					</table>

				</div>

				<!-- Horizontal -->
				<div class="tab-pane fade" id="horizontal" role="tabpanel" aria-labelledby="horizontal-tab">
					<p>&nbsp;</p>
					<h2>Basic Katakana: 46 Characters</h2>
					<h4>Kihon no Katakana</h4>
					<h5>きほんのカタカナ</h5>
					<p>&nbsp;</p>
					<h5>Basic and Voiced syllables grouped by similar character.</h5>
					<table class="table table-hover text-center">
						<thead>
							<tr class="bg-light">
								<th scope="col">&nbsp;</th>
								<th scope="col">k</th>
								<th scope="col">g</th>
								<th scope="col">s</th>
								<th scope="col">z</th>
								<th scope="col">t</th>
								<th scope="col">d</th>
								<th scope="col">h</th>
								<th scope="col">b</th>
								<th scope="col">p</th>
								<th scope="col">m</th>
								<th scope="col">n</th>
								<th scope="col">y</th>
								<th scope="col">r</th>
								<th scope="col">w</th>
								<th scope="col">n</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="bg-info">a&nbsp;&nbsp;ア</th>
								<td>ka&nbsp;&nbsp;カ</td>
								<td>ga&nbsp;&nbsp;ガ</td>
								<td>sa&nbsp;&nbsp;サ</td>
								<td>za&nbsp;&nbsp;ザ</td>
								<td>ta&nbsp;&nbsp;タ</td>
								<td>da&nbsp;&nbsp;ダ</td>
								<td>ha&nbsp;&nbsp;ハ</td>
								<td>ba&nbsp;&nbsp;バ</td>
								<td>pa&nbsp;&nbsp;パ</td>
								<td>ma&nbsp;&nbsp;マ</td>
								<td>na&nbsp;&nbsp;ナ</td>
								<td>ya&nbsp;&nbsp;ヤ</td>
								<td>ra&nbsp;&nbsp;ラ</td>
								<td>wa&nbsp;&nbsp;ワ</td>
								<td>n&nbsp;&nbsp;ン</td>
							</tr>
							<tr>
								<th class="bg-info">i&nbsp;&nbsp;イ</th>
								<td>ki&nbsp;&nbsp;キ</td>
								<td>gi&nbsp;&nbsp;ギ</td>
								<td>shi&nbsp;&nbsp;シ</td>
								<td>ji&nbsp;&nbsp;ジ</td>
								<td>chi&nbsp;&nbsp;チ</td>
								<td>ji&nbsp;&nbsp;ヂ</td>
								<td>hi&nbsp;&nbsp;ヒ</td>
								<td>bi&nbsp;&nbsp;ビ</td>
								<td>pi&nbsp;&nbsp;ピ</td>
								<td>mi&nbsp;&nbsp;ミ</td>
								<td>ni&nbsp;&nbsp;ニ</td>
								<td>&nbsp;</td>
								<td>ri&nbsp;&nbsp;リ</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<th class="bg-info">u&nbsp;&nbsp;ウ</th>
								<td>ku&nbsp;&nbsp;ク</td>
								<td>gu&nbsp;&nbsp;グ</td>
								<td>su&nbsp;&nbsp;ス</td>
								<td>zu&nbsp;&nbsp;ズ</td>
								<td>tsu&nbsp;&nbsp;ツ</td>
								<td>dzu&nbsp;&nbsp;ヅ</td>
								<td>fu&nbsp;&nbsp;フ</td>
								<td>bu&nbsp;&nbsp;ブ</td>
								<td>pu&nbsp;&nbsp;プ</td>
								<td>mu&nbsp;&nbsp;ム</td>
								<td>nu&nbsp;&nbsp;ヌ</td>
								<td>yu&nbsp;&nbsp;ユ</td>
								<td>ru&nbsp;&nbsp;ル</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<th class="bg-info">e&nbsp;&nbsp;エ</th>
								<td>ke&nbsp;&nbsp;ケ</td>
								<td>ge&nbsp;&nbsp;ゲ</td>
								<td>se&nbsp;&nbsp;セ</td>
								<td>ze&nbsp;&nbsp;ゼ</td>
								<td>te&nbsp;&nbsp;テ</td>
								<td>de&nbsp;&nbsp;デ</td>
								<td>he&nbsp;&nbsp;ヘ</td>
								<td>be&nbsp;&nbsp;ベ</td>
								<td>pe&nbsp;&nbsp;ペ</td>
								<td>me&nbsp;&nbsp;メ</td>
								<td>ne&nbsp;&nbsp;ネ</td>
								<td>&nbsp;</td>
								<td>re&nbsp;&nbsp;レ</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<th class="bg-info">o&nbsp;&nbsp;オ</th>
								<td>ko&nbsp;&nbsp;コ</td>
								<td>go&nbsp;&nbsp;ゴ</td>
								<td>so&nbsp;&nbsp;ソ</td>
								<td>zo&nbsp;&nbsp;ゾ</td>
								<td>to&nbsp;&nbsp;ト</td>
								<td>do&nbsp;&nbsp;ド</td>
								<td>ho&nbsp;&nbsp;ホ</td>
								<td>bo&nbsp;&nbsp;ボ</td>
								<td>po&nbsp;&nbsp;ポ</td>
								<td>mo&nbsp;&nbsp;モ</td>
								<td>no&nbsp;&nbsp;ノ</td>
								<td>yo&nbsp;&nbsp;ヨ</td>
								<td>ro&nbsp;&nbsp;ロ</td>
								<td>wo(o)&nbsp;&nbsp;ヲ</td>
								<td>&nbsp;</td>
							</tr>
						</tbody>
					</table>
					<p>&nbsp;</p>
					<h5>Basic Monographs</h5>
					<table class="table table-hover text-center">
						<thead>
							<tr class="bg-light">
								<th scope="col">&nbsp;</th>
								<th scope="col">k</th>
								<th scope="col">s</th>
								<th scope="col">t</th>
								<th scope="col">h</th>
								<th scope="col">m</th>
								<th scope="col">n</th>
								<th scope="col">y</th>
								<th scope="col">r</th>
								<th scope="col">w</th>
								<th scope="col">n</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="bg-info">a&nbsp;&nbsp;ア</th>
								<td>ka&nbsp;&nbsp;カ</td>
								<td>sa&nbsp;&nbsp;サ</td>
								<td>ta&nbsp;&nbsp;タ</td>
								<td>ha&nbsp;&nbsp;ハ</td>
								<td>ma&nbsp;&nbsp;マ</td>
								<td>na&nbsp;&nbsp;ナ</td>
								<td>ya&nbsp;&nbsp;ヤ</td>
								<td>ra&nbsp;&nbsp;ラ</td>
								<td>wa&nbsp;&nbsp;ワ</td>
								<td>n&nbsp;&nbsp;ン</td>
							</tr>
							<tr>
								<th class="bg-info">i&nbsp;&nbsp;イ</th>
								<td>ki&nbsp;&nbsp;キ</td>
								<td>shi&nbsp;&nbsp;シ</td>
								<td>chi&nbsp;&nbsp;チ</td>
								<td>hi&nbsp;&nbsp;ヒ</td>
								<td>mi&nbsp;&nbsp;ミ</td>
								<td>ni&nbsp;&nbsp;ニ</td>
								<td>&nbsp;</td>
								<td>ri&nbsp;&nbsp;リ</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<th class="bg-info">u&nbsp;&nbsp;ウ</th>
								<td>ku&nbsp;&nbsp;ク</td>
								<td>su&nbsp;&nbsp;ス</td>
								<td>tsu&nbsp;&nbsp;ツ</td>
								<td>fu&nbsp;&nbsp;フ</td>
								<td>mu&nbsp;&nbsp;ム</td>
								<td>nu&nbsp;&nbsp;ヌ</td>
								<td>yu&nbsp;&nbsp;ユ</td>
								<td>ru&nbsp;&nbsp;ル</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<th class="bg-info">e&nbsp;&nbsp;エ</th>
								<td>ke&nbsp;&nbsp;ケ</td>
								<td>se&nbsp;&nbsp;セ</td>
								<td>te&nbsp;&nbsp;テ</td>
								<td>he&nbsp;&nbsp;ヘ</td>
								<td>me&nbsp;&nbsp;メ</td>
								<td>ne&nbsp;&nbsp;ネ</td>
								<td>&nbsp;</td>
								<td>re&nbsp;&nbsp;レ</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<th class="bg-info">o&nbsp;&nbsp;オ</th>
								<td>ko&nbsp;&nbsp;コ</td>
								<td>so&nbsp;&nbsp;ソ</td>
								<td>to&nbsp;&nbsp;ト</td>
								<td>ho&nbsp;&nbsp;ホ</td>
								<td>mo&nbsp;&nbsp;モ</td>
								<td>no&nbsp;&nbsp;ノ</td>
								<td>yo&nbsp;&nbsp;ヨ</td>
								<td>ro&nbsp;&nbsp;ロ</td>
								<td>wo(o)&nbsp;&nbsp;ヲ</td>
								<td>&nbsp;</td>
							</tr>
						</tbody>
					</table>
					<p>&nbsp;</p>
					<h5>Voiced Diacritics</h5>
					<table class="table table-hover text-center">
						<thead>
							<tr class="bg-light">
								<th scope="col">&nbsp;</th>
								<th scope="col">g</th>
								<th scope="col">z</th>
								<th scope="col">d</th>
								<th scope="col">b</th>
								<th scope="col">p</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th class="bg-info">a&nbsp;&nbsp;ア</th>
								<td>ga&nbsp;&nbsp;ガ</td>
								<td>za&nbsp;&nbsp;ザ</td>
								<td>da&nbsp;&nbsp;ダ</td>
								<td>ba&nbsp;&nbsp;バ</td>
								<td>pa&nbsp;&nbsp;パ</td>
							</tr>
							<tr>
								<th class="bg-info">i&nbsp;&nbsp;イ</th>
								<td>gi&nbsp;&nbsp;ギ</td>
								<td>ji&nbsp;&nbsp;ジ</td>
								<td>ji&nbsp;&nbsp;ヂ</td>
								<td>bi&nbsp;&nbsp;び</td>
								<td>pi&nbsp;&nbsp;ぴ</td>
							</tr>
							<tr>
								<th class="bg-info">u&nbsp;&nbsp;ウ</th>
								<td>gu&nbsp;&nbsp;グ</td>
								<td>zu&nbsp;&nbsp;ズ</td>
								<td>dzu&nbsp;&nbsp;ヅ</td>
								<td>bu&nbsp;&nbsp;ブ</td>
								<td>pu&nbsp;&nbsp;プ</td>
							</tr>
							<tr>
								<th class="bg-info">e&nbsp;&nbsp;エ</th>
								<td>ge&nbsp;&nbsp;ゲ</td>
								<td>ze&nbsp;&nbsp;ゼ</td>
								<td>de&nbsp;&nbsp;デ</td>
								<td>be&nbsp;&nbsp;ベ</td>
								<td>pe&nbsp;&nbsp;ペ</td>
							</tr>
							<tr>
								<th class="bg-info">o&nbsp;&nbsp;オ</th>
								<td>go&nbsp;&nbsp;ゴ</td>
								<td>zo&nbsp;&nbsp;ゾ</td>
								<td>do&nbsp;&nbsp;ド</td>
								<td>bo&nbsp;&nbsp;ボ</td>
								<td>po&nbsp;&nbsp;ポ</td>
							</tr>
						</tbody>
					</table>

					<p>&nbsp;</p>
					<h2>Katakana Digraphs: 36 Combinations</h2>
					<p>&nbsp;</p>
					<h5>Contracted sounds grouped by similar character.</h5>
					<table class="table table-hover text-center">
						<thead>
							<tr class="table-info">
								<th scope="col">&nbsp;</th>
								<th scope="col">k</th>
								<th scope="col">g</th>
								<th scope="col">s</th>
								<th scope="col">j</th>
								<th scope="col">c</th>
								<th scope="col">j</th>
								<th scope="col">h</th>
								<th scope="col">b</th>
								<th scope="col">p</th>
								<th scope="col">m</th>
								<th scope="col">n</th>
								<th scope="col">r</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row" class="bg-light">ya&nbsp;&nbsp;ヤ</th>
								<td>kya</br>キャ</td>
								<td>gya</br>ギャ</td>
								<td>sha</br>シャ</td>
								<td>ja</br>ジャ</td>
								<td>cha</br>チャ</td>
								<td>ja</br>ヂャ</td>
								<td>hya</br>ヒャ</td>
								<td>bya</br>ビャ</td>
								<td>pya</br>ピャ</td>
								<td>mya</br>ミャ</td>
								<td>nya</br>ニャ</td>
								<td>rya</br>リャ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">yu&nbsp;&nbsp;ユ</th>
								<td>kyu</br>キュ</td>
								<td>gyu</br>ギュ</td>
								<td>shu</br>シュ</td>
								<td>ju</br>ジュ</td>
								<td>chu</br>チュ</td>
								<td>ju</br>ヂュ</td>
								<td>hyu</br>ヒュ</td>
								<td>byu</br>ビュ</td>
								<td>pyu</br>ピュ</td>
								<td>myu</br>ミュ</td>
								<td>nyu</br>ニュ</td>
								<td>ryu</br>リュ</td>
							</tr>
							<tr>
								<th scope="row" class="bg-light">yo&nbsp;&nbsp;ヨ</th>
								<td>kyo</br>キョ</td>
								<td>gyo</br>ギョ</td>
								<td>sho</br>ショ</td>
								<td>jo</br>ジョ</td>
								<td>cho</br>チョ</td>
								<td>jo</br>ヂョ</td>
								<td>hyo</br>ヒョ</td>
								<td>byo</br>ビョ</td>
								<td>pyo</br>ピョ</td>
								<td>myo</br>ミョ</td>
								<td>nyo</br>ニョ</td>
								<td>ryo</br>リョ</td>
							</tr>
						</tbody>
					</table>

				</div>

				<!-- Horizontal Reverse -->
				<div class="tab-pane fade" id="horizontal_r" role="tabpanel" aria-labelledby="horizontal_r-tab">

					<p>&nbsp;</p>
					<h2>Basic Katakana: 46 Characters</h2>
					<h4>Kihon no Katakana</h4>
					<h5>きほんのカタカナ</h5>
					<p>&nbsp;</p>
					<h5>Basic and Voiced syllables grouped by similar character</h5>
					<table class="table table-hover text-center">
						<thead>
							<tr class="bg-light">
								<th scope="col">n</th>
								<th scope="col">w</th>
								<th scope="col">r</th>
								<th scope="col">y</th>
								<th scope="col">n</th>
								<th scope="col">m</th>
								<th scope="col">p</th>
								<th scope="col">b</th>
								<th scope="col">h</th>
								<th scope="col">d</th>
								<th scope="col">t</th>
								<th scope="col">z</th>
								<th scope="col">s</th>
								<th scope="col">g</th>
								<th scope="col">k</th>
								<th scope="col">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>n&nbsp;&nbsp;ン</td>
								<td>wa&nbsp;&nbsp;ワ</td>
								<td>ra&nbsp;&nbsp;ラ</td>
								<td>ya&nbsp;&nbsp;ヤ</td>
								<td>na&nbsp;&nbsp;ナ</td>
								<td>ma&nbsp;&nbsp;マ</td>
								<td>pa&nbsp;&nbsp;パ</td>
								<td>ba&nbsp;&nbsp;バ</td>
								<td>ha&nbsp;&nbsp;ハ</td>
								<td>da&nbsp;&nbsp;ダ</td>
								<td>ta&nbsp;&nbsp;タ</td>
								<td>za&nbsp;&nbsp;ザ</td>
								<td>sa&nbsp;&nbsp;サ</td>
								<td>ga&nbsp;&nbsp;ガ</td>
								<td>ka&nbsp;&nbsp;カ</td>
								<th class="bg-info">a&nbsp;&nbsp;ア</th>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>ri&nbsp;&nbsp;り</td>
								<td>&nbsp;</td>
								<td>ni&nbsp;&nbsp;に</td>
								<td>mi&nbsp;&nbsp;み</td>
								<td>pi&nbsp;&nbsp;ぴ</td>
								<td>bi&nbsp;&nbsp;び</td>
								<td>hi&nbsp;&nbsp;ひ</td>
								<td>ji&nbsp;&nbsp;ぢ</td>
								<td>chi&nbsp;&nbsp;ち</td>
								<td>ji&nbsp;&nbsp;じ</td>
								<td>shi&nbsp;&nbsp;し</td>
								<td>gi&nbsp;&nbsp;ぎ</td>
								<td>ki&nbsp;&nbsp;き</td>
								<th class="bg-info">i&nbsp;&nbsp;イ</th>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>ru&nbsp;&nbsp;ル</td>
								<td>yu&nbsp;&nbsp;ユ</td>
								<td>nu&nbsp;&nbsp;ヌ</td>
								<td>mu&nbsp;&nbsp;ム</td>
								<td>pu&nbsp;&nbsp;プ</td>
								<td>bu&nbsp;&nbsp;ブ</td>
								<td>fu&nbsp;&nbsp;フ</td>
								<td>dzu&nbsp;&nbsp;ヅ</td>
								<td>tsu&nbsp;&nbsp;ツ</td>
								<td>zu&nbsp;&nbsp;ズ</td>
								<td>su&nbsp;&nbsp;ス</td>
								<td>gu&nbsp;&nbsp;グ</td>
								<td>ku&nbsp;&nbsp;ク</td>
								<th class="bg-info">u&nbsp;&nbsp;ウ</th>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>re&nbsp;&nbsp;レ</td>
								<td>&nbsp;</td>
								<td>ne&nbsp;&nbsp;ネ</td>
								<td>me&nbsp;&nbsp;メ</td>
								<td>pe&nbsp;&nbsp;ペ</td>
								<td>be&nbsp;&nbsp;ベ</td>
								<td>he&nbsp;&nbsp;ヘ</td>
								<td>de&nbsp;&nbsp;デ</td>
								<td>te&nbsp;&nbsp;テ</td>
								<td>ze&nbsp;&nbsp;ゼ</td>
								<td>se&nbsp;&nbsp;セ</td>
								<td>ge&nbsp;&nbsp;ゲ</td>
								<td>ke&nbsp;&nbsp;ケ</td>
								<th class="bg-info">e&nbsp;&nbsp;エ</th>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>wo(o)&nbsp;&nbsp;ヲ</td>
								<td>ro&nbsp;&nbsp;ロ</td>
								<td>yo&nbsp;&nbsp;ヨ</td>
								<td>no&nbsp;&nbsp;ノ</td>
								<td>mo&nbsp;&nbsp;モ</td>
								<td>po&nbsp;&nbsp;ポ</td>
								<td>bo&nbsp;&nbsp;ボ</td>
								<td>ho&nbsp;&nbsp;ホ</td>
								<td>do&nbsp;&nbsp;ド</td>
								<td>to&nbsp;&nbsp;ト</td>
								<td>zo&nbsp;&nbsp;ゾ</td>
								<td>so&nbsp;&nbsp;ソ</td>
								<td>go&nbsp;&nbsp;ゴ</td>
								<td>ko&nbsp;&nbsp;コ</td>
								<th class="bg-info">o&nbsp;&nbsp;ア</th>
							</tr>
						</tbody>
					</table>

					<p>&nbsp;</p>
					<h5>Basic Monographs</h5>
					<table class="table table-hover text-center">
						<thead>
							<tr class="bg-light">
								<th scope="col">n</th>
								<th scope="col">w</th>
								<th scope="col">r</th>
								<th scope="col">y</th>
								<th scope="col">n</th>
								<th scope="col">m</th>
								<th scope="col">h</th>
								<th scope="col">t</th>
								<th scope="col">s</th>
								<th scope="col">k</th>
								<th scope="col">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>n&nbsp;&nbsp;ン</td>
								<td>wa&nbsp;&nbsp;ワ</td>
								<td>ra&nbsp;&nbsp;ラ</td>
								<td>ya&nbsp;&nbsp;ヨ</td>
								<td>na&nbsp;&nbsp;ナ</td>
								<td>ma&nbsp;&nbsp;マ</td>
								<td>ha&nbsp;&nbsp;ハ</td>
								<td>ta&nbsp;&nbsp;タ</td>
								<td>sa&nbsp;&nbsp;サ</td>
								<td>ka&nbsp;&nbsp;カ</td>
								<th class="bg-info">a&nbsp;&nbsp;ア</th>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>ri&nbsp;&nbsp;リ</td>
								<td>&nbsp;</td>
								<td>ni&nbsp;&nbsp;ニ</td>
								<td>mi&nbsp;&nbsp;ミ</td>
								<td>hi&nbsp;&nbsp;ヒ</td>
								<td>chi&nbsp;&nbsp;チ</td>
								<td>shi&nbsp;&nbsp;シ</td>
								<td>ki&nbsp;&nbsp;キ</td>
								<th class="bg-info">i&nbsp;&nbsp;イ</th>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>ru&nbsp;&nbsp;ル</td>
								<td>yu&nbsp;&nbsp;ユ</td>
								<td>nu&nbsp;&nbsp;ヌ</td>
								<td>mu&nbsp;&nbsp;ム</td>
								<td>fu&nbsp;&nbsp;フ</td>
								<td>tsu&nbsp;&nbsp;ツ</td>
								<td>su&nbsp;&nbsp;ス</td>
								<td>ku&nbsp;&nbsp;ク</td>
								<th class="bg-info">u&nbsp;&nbsp;ウ</th>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>re&nbsp;&nbsp;レ</td>
								<td>&nbsp;</td>
								<td>ne&nbsp;&nbsp;ネ</td>
								<td>me&nbsp;&nbsp;メ</td>
								<td>he&nbsp;&nbsp;ヘ</td>
								<td>te&nbsp;&nbsp;テ</td>
								<td>se&nbsp;&nbsp;セ</td>
								<td>ke&nbsp;&nbsp;ケ</td>
								<th class="bg-info">e&nbsp;&nbsp;エ</th>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>wo(o)&nbsp;&nbsp;ヲ</td>
								<td>ro&nbsp;&nbsp;ロ</td>
								<td>yo&nbsp;&nbsp;ヨ</td>
								<td>no&nbsp;&nbsp;ノ</td>
								<td>mo&nbsp;&nbsp;モ</td>
								<td>ho&nbsp;&nbsp;ホ</td>
								<td>to&nbsp;&nbsp;ト</td>
								<td>so&nbsp;&nbsp;ソ</td>
								<td>ko&nbsp;&nbsp;コ</td>
								<th class="bg-info">o&nbsp;&nbsp;オ</th>
							</tr>
						</tbody>
					</table>

					<p>&nbsp;</p>
					<h5>Voiced Diacritics</h5>
					<table class="table table-hover text-center">
						<thead>
							<tr class="bg-light">
								<th scope="col">p</th>
								<th scope="col">b</th>
								<th scope="col">d</th>
								<th scope="col">z</th>
								<th scope="col">g</th>
								<th scope="col">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>pa&nbsp;&nbsp;パ</td>
								<td>ba&nbsp;&nbsp;バ</td>
								<td>da&nbsp;&nbsp;ダ</td>
								<td>za&nbsp;&nbsp;ザ</td>
								<td>ga&nbsp;&nbsp;ガ</td>
								<th class="bg-info">a&nbsp;&nbsp;ア</th>
							</tr>
							<tr>

								<td>pi&nbsp;&nbsp;ピ</td>
								<td>bi&nbsp;&nbsp;ビ</td>
								<td>ji&nbsp;&nbsp;ヂ</td>
								<td>ji&nbsp;&nbsp;ジ</td>
								<td>gi&nbsp;&nbsp;ぎ</td>
								<th class="bg-info">i&nbsp;&nbsp;イ</th>
							</tr>
							<tr>
								<td>pu&nbsp;&nbsp;プ</td>
								<td>bu&nbsp;&nbsp;ブ</td>
								<td>dzu&nbsp;&nbsp;ヅ</td>
								<td>zu&nbsp;&nbsp;ズ</td>
								<td>gu&nbsp;&nbsp;グ</td>
								<th class="bg-info">u&nbsp;&nbsp;ウ</th>
							</tr>
							<tr>
								<td>pe&nbsp;&nbsp;ペ</td>
								<td>be&nbsp;&nbsp;ベ</td>
								<td>de&nbsp;&nbsp;デ</td>
								<td>ze&nbsp;&nbsp;ゼ</td>
								<td>ge&nbsp;&nbsp;ゲ</td>
								<th class="bg-info">e&nbsp;&nbsp;エ</th>
							</tr>
							<tr>
								<td>po&nbsp;&nbsp;ポ</td>
								<td>bo&nbsp;&nbsp;ボ</td>
								<td>do&nbsp;&nbsp;ド</td>
								<td>zo&nbsp;&nbsp;ゾ</td>
								<td>go&nbsp;&nbsp;ゴ</td>
								<th class="bg-info">o&nbsp;&nbsp;オ</th>
							</tr>
						</tbody>
					</table>

					<p>&nbsp;</p>
					<h2>Katakana Digraphs: 36 Combinations</h2>
					<p>&nbsp;</p>
					<h5>Contracted sounds grouped by similar character.</h5>
					<table class="table table-hover text-center">
						<thead>
							<tr class="table-info">
								<th scope="col">r</th>
								<th scope="col">n</th>
								<th scope="col">m</th>
								<th scope="col">p</th>
								<th scope="col">b</th>
								<th scope="col">h</th>
								<th scope="col">j</th>
								<th scope="col">c</th>
								<th scope="col">j</th>
								<th scope="col">s</th>
								<th scope="col">g</th>
								<th scope="col">k</th>
								<th scope="col">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>rya</br>リャ</td>
								<td>nya</br>ニャ</td>
								<td>mya</br>ミャ</td>
								<td>pya</br>ピャ</td>
								<td>bya</br>ビャ</td>
								<td>hya</br>ヒャ</td>
								<td>ja</br>ヂャ</td>
								<td>cha</br>チャ</td>
								<td>ja</br>ジャ</td>
								<td>sha</br>シャ</td>
								<td>gya</br>ギャ</td>
								<td>kya</br>キャ</td>
								<th scope="row" class="bg-light">ya&nbsp;&nbsp;ヤ</th>
							</tr>
							<tr>
								<td>ryu</br>リュ</td>
								<td>nyu</br>ニュ</td>
								<td>myu</br>ミュ</td>
								<td>pyu</br>ピュ</td>
								<td>byu</br>ビュ</td>
								<td>hyu</br>ヒュ</td>
								<td>ju</br>ヂュ</td>
								<td>chu</br>チュ</td>
								<td>ju</br>ジュ</td>
								<td>shu</br>シュ</td>
								<td>gyu</br>ギュ</td>
								<td>kyu</br>キュ</td>
								<th scope="row" class="bg-light">yu&nbsp;&nbsp;ユ</th>
							</tr>
							<tr>
								<td>ryo</br>リョ</td>
								<td>nyo</br>ニョ</td>
								<td>myo</br>ミョ</td>
								<td>pyo</br>ピョ</td>
								<td>byo</br>ビョ</td>
								<td>hyo</br>ヒョ</td>
								<td>jo</br>ヂョ</td>  <!-- dyo -->
								<td>cho</br>チョ</td> <!-- cyo -->
								<td>jo</br>ジョ</td>  <!-- jo -->
								<td>sho</br>ショ</td> <!-- sho -->
								<td>gyo</br>ギョ</td>
								<td>kyo</br>キョ</td>
								<th scope="row" class="bg-light">yo&nbsp;&nbsp;ヨ</th>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
			<!-- /tabs -->

		</div>

	</div>
</div>


</main>

{% endblock %}