{% extends 'base.html' %}

{% load static %}

{% block content %}

<main role="main">

  <section class="jumbotron text-center">
	<div class="container">
      <h1>Resources</h1>
      <p class="lead text-muted">&nbsp;</p>
	</div>
  </section>

  <div class="container-sm">
	<div class="row mb-3">
		<div class="col-2">&nbsp;</div>
  		<div class="col-8">
  			<p>&nbsp;</p>
  			<p>Here are some sites and apps that can help you learn Japanese.</p>
  			</br>
  			<h3>Websites</h3>
  			<ul>
  				<li><a href="https://www.smilenihongo.com" target="blank">Smile Nihongo Academy</a></li>
  				<li><a href="https://www.JapanesePod101.com" target="blank">JapanesePod101</a></li>
  				<li><a href="https://jlptsensei.com/" target="blank">JLPT Sensei</a></li>
  				<li><a href="http://www.guidetojapanese.org/learn/" target="blank">Tae Kim's Guide to Japanese</a></li>
  				<li><a href="https://www.tofugu.com/japanese/learn-hiragana/" target="blank">Tofugo Hiragana</a></li>
  				<li><a href="https://www.tofugu.com/japanese/learn-katakana/" target="blank">Tofugo Katakana</a></li>
  				<li><a href="https://www.tanos.co.uk/jlpt/" target="blank">JLPT Resources</a></li>
  				<li><a href="https://translate.google.com/" target="blank">Google Translate</a></li>
  				<li><a href="http://www.guidetojapanese.org/learn/resources/setup" target="blank">How to setup your computer for Japanese typing</a></li>
  			</ul>
  			</br>
  			<h3>Mobile Apps</h3>
  			<ul>
  				<li><a href="https://www.duolingo.com/" target="blank">Duolingo</a></li>
				<li><a href="http://kanamaster.com/" target="blank">Kana Master</a></li>
  				<li><a href="https://apps.apple.com/us/app/kana-drill/id1208009110" target="blank">Kana Drill</a></li>
  				<li><a href="https://www.lingodeer.com/" target="blank">LingoDeer</a></li>
  				<li><a href="https://www.busuu.com/" target="blank">Busuu</a></li>
  				<li><a href="https://languagedrops.com/" target="blank">Drops</a></li>
  				<li><a href="https://apps.apple.com/us/app/innovative-101-learn-languages/id668386019" target="blank">Innovative 101 (App for JapanesePod101 website)</a></li>
  				<li><a href="https://www.hellotalk.com/" target="blank">HelloTalk</a></li>
  			</ul>

  		</div>
  		<div class="col-2">&nbsp;</div>
  	</div>
  </div>

</main>

{% endblock %}