{% extends 'base.html' %}

{% load static %}

{% block content %}

<main role="main">

  <section class="jumbotron text-center">
	<div class="container">
      <h1>Social</h1>
      <p class="lead text-muted">&nbsp;</p>
	</div>
  </section>

  <div class="container-sm">
  	<div class="row mb-3">
  		<div class="col-2">&nbsp;</div>
  		<div class="col-8">
  			<h1>It all started in 2020...</h1>
  			<p>Social sites</p>
  		</div>
  		<div class="col-2">&nbsp;</div>
  	</div>
  </div>

</main>

{% endblock %}